---
BasedOnStyle: LLVM
SortIncludes: 'false'
IndentWidth: '2'
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentCaseLabels: true
...
