[submodule "external/CMSIS/Device/ST/STM32F4"]
	path = external/CMSIS/Device/ST/STM32F4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "external/unity"]
	path = external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
